
#include "stdafx.h"
#include "MainFrm.h"
#include "ClassView.h"
#include "Resource.h"
#include "ShuDeltaGraph.h"


//////////////////////////////////////////////////////////////////////
// »ý¼º/¼Ò¸ê
//////////////////////////////////////////////////////////////////////

int GetRevision()
{
	return $WCREV$;
}

const char *GetBuildDate()
{
	return "$WCNOW$";
}